.btn-prime {
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  line-height: 30px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  background: #16d428;
  color: $importent-color;
  cursor: pointer;
  &:hover {
    color: $paragraf-text-color;
  }
}

.site-title,
.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  color: $title-text;
   &-color {
     font-size: 48px;
      color: $importent-color;
  }
}
.site-title-less {
  font-size: 16px;
  font-weight: 400;
}
.description {
  font-family: 'Domine', serif;
  font-weight: 400;
  &-color {
    color: $importent-color;
  }
}