

//press footer
html{
  height: 100%;

  body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: $paragraf-text-color;
    main{
      flex: 1 0 auto;
    }
    footer{
      flex: 0 0 auto;
    }
  }
}
// and press

.container {
  padding: 0 15px;
  max-width: 100%;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  &:visited,
  &:hover,
  &:link {
    color: inherit;
    text-decoration: none;
  }
}
p {
  margin-bottom: 0;
}

//slick

//.slick-prev, .slick-next { display: none}

.testimonials .slick-prev:before,
.testimonials .slick-next:before,
.project-img-slide .slick-prev:before,
.project-img-slide .slick-next:before,
.intro-slide .slick-prev:before,
.intro-slide .slick-next:before{ content: ""}