$menu-text-color:#e2e2e2;
$prime-blue:#03b6e7;
$prime-orang:#f6961b;
$nav-btn-color:#16d428;
$paragraf-text-color:#838b8c;
$title-text:#343a3b;
$importent-color: #fff;

$social-colors: (facebook, #385da5),(twitter, #0998b6),(instagram, #b1a58d), (linkedin, #1c6f9d), (google, #c84138),;