.about {
  padding: 90px 0;
  background: $importent-color;
  .description {
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .carousel-clients {
      margin-top: 60px;
      padding-top: 60px;
      border-top: 1px solid #e7eff1;
    .carousel-client-item {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
      img {
        margin: 0 auto;
      }
    }
    .slick-next,
    .slick-prev {
      width: 30px;
      height: 30px;
      top: 60%;
      transform: translate(0);
    }
      .slick-next {
        right: 0;
        background: url("../images/arrow-right.png") center no-repeat;
      }
    .slick-prev {
      left: 0;
      background: url("../images/arrow-left.png") center no-repeat;
    }
  }
}