.carousel-clients {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 1px solid #e7eff1;
  .carousel-client-item {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
    img {
      margin: 0 auto;
    }
  }
  .slick-next,
  .slick-prev {
    width: 30px;
    height: 30px;
    top: 60%;
    transform: translate(0);
  }
  .slick-next {
    right: -13px;
    background: url("../images/arrow-right.png") center no-repeat;
  }
  .slick-prev {
    left: -13px;
    background: url("../images/arrow-left.png") center no-repeat;
  }
}
