.blog-list {
  margin: 45px 0 60px;
  .blog-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
    border-top: 3px solid $nav-btn-color;
    background: $importent-color;
    .title {
      margin-bottom: 30px;
    }
    &:nth-child(odd){
      @media (max-width:767px ) {
        background: linear-gradient(to right, #dadbdb 0%, #dae6e8 0%, #e2e2e2 1%, #e6e6e6 2%, #fefefe 9%);
      }
    }
    &:nth-child(even) {
      border-top: 3px solid $prime-orang;
      background: linear-gradient(to right, #dadbdb 0%, #dae6e8 0%, #e2e2e2 1%, #e6e6e6 2%, #fefefe 9%);
    }
    .blog-img-wrap {
      display: flex;
      align-self: stretch;
      @media (max-width:767px ) {
        display: none;
      }
    }
    .blog-content {
      margin-top: 50px;
      padding-left: 50px;
      padding-bottom: 15px;
    }
    .blog-item-date {
      display: block;
      margin-bottom: 15px;
      font-family: 'Domine', serif;
      color: $title-text;
    }
  }
}
