.contact-us {
  padding: 90px 0;
  .contact-list {
    margin-top: 30px;
    color: $title-text;
    .contact-list-item {
      position: relative;
      padding-left: 135px;
      padding-top: 40px;
      padding-bottom: 40px;
      border: 1px solid #e1eaec;
      .contact-list-title {
        font-weight: 700;
      }
      .contact-atr {
        line-height: 28px;
        font-size: 18px;
        font-family: 'Domine', serif;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 15%;
        top: 55%;
        transform: translateY(-50%);
        width: 45px;
        height: 45px;
        background: url("../../images/contact-list-item-mail.png") center no-repeat;
      }
      &:nth-child(2):before{
        background: url("../../images/contact-list-item-phone.png") center no-repeat;
      }
      &:nth-child(3):before{
        background: url("../../images/contact-list-item-career.png") center no-repeat;
      }
    }
  }
}