.site-footer {
  padding-top: 90px;
  background: #262829;
  .foot-title {
    text-transform: uppercase;
    color: $menu-text-color;
  }
  .foot-nav-item,
  .foot-industary-item{
    line-height: 30px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .contact-inputs {
    display: flex;
    margin-top: 40px;
    .contact-input-item {
      padding-right: 35px;
      padding-left: 35px;
      border: none;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      background: #323334;
      color:#5e5e5e;
      outline: none;
    }
    ::-webkit-input-placeholder {color:#5e5e5e; text-transform: uppercase; font-size: 13px}
    ::-moz-placeholder          {color:#c0392b;}
    :-moz-placeholder           {color:#c0392b;}
    :-ms-input-placeholder {color:#c0392b;}
  }
  .btn-prime {
    transform: translateX(-35px);
  }
  .footer-foo {
    padding-top: 20px;
    border-top: 1px solid #323334;
  }
  .social-list {
    .social-list-item {
        margin-left: 40px;
        text-transform: uppercase;
        color: #385da5;
      &:nth-child(2) {
        color: #0998b6;
      }
      &:nth-child(3) {
        color: #b1a58d;
      }
      &:nth-child(4) {
        color: #1c6f9d;
      }
      &:nth-child(5) {
        color: #c84138;
      }
    }
  }
}

