
.site-head {
  padding-top:55px;
  .navigation,
  .contact-date {
    text-transform: uppercase;
    font-weight: 400;
    color: $menu-text-color;
  }
  .navigation-item {
    margin-right: 15px;
    margin-left: 15px;
    a {
      line-height: 30px;
      font-size: 14px;
      transition: all 0.3s;
      &:hover {
        color: $prime-orang;
      }
    }
  }
  .phone {
    display: inline-block;
    padding-left: 30px;
    margin-right: 20px;
    line-height: 30px;
    font-size: 14px;
    background: url('../images/head-phone-icone.png') center left no-repeat;
  }
  .head-contact-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background:  $prime-blue url("../../images/head-mail-icone.png") center no-repeat;
  }
}
