.intro {
  height: 100vh;
  background: url("../images/intro-bg.jpg") center no-repeat;
  background-size: cover;
  @media (max-width:992px) {
    height: 100%;
  }
  .mobile-nav-wrap {
    padding: 0 15px;
  }
  .intro-slide {
    @media (max-width:768px) {
     //
    }
  }
  .site-title {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    .site-title-less {
      display: block;
    }
  }
  .intro-slide-item-wrap {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 15px;
  }
  .intro-slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 280px;
    background: $prime-blue;
    cursor: pointer;
    &:hover {
      background: $prime-orang;
    }
    .intro-slide-img {
      display: block;
      margin-bottom: 30px;
    }
  }
  .slick-dots {
    bottom: -60px;
    li {
      position: relative;
      border-radius: 50%;
      border: 3px solid #fff;
      &:before {
        content: "";
        display: none;
        position: absolute;
        width: 7px;
        height: 7px;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -45%);
        border-radius: 50%;
        background: $nav-btn-color;
      }
      &:active,
      &:hover {
        border-color: $nav-btn-color;
        &:before {
          display: block;
        }
      }
    }
  }
  .mobile-nav-wrap {
    margin: 20px 0;
    .mobile-nav-item {
      font-size: 10px;
      transition: all, 0.3s;
      &:hover {
        color: $prime-orang;
      }
    }
  }
}