.services-list {
  margin-top: 60px;
}
.services-list-item {
  margin-bottom: 20px;
  padding-top: 70px;
}
.services-list-item-wrap {
  &:nth-child(1) .services-list-item {
    background: url("../images/servis-list-item-bus.png") top left no-repeat;
  }
  &:nth-child(2) .services-list-item {
    background: url("../images/servise-list-item-local.png") top left no-repeat;
  }
  &:nth-child(3) .services-list-item {
    margin-right: 0;
    background: url("../images/servise-list-item-account.png") top left no-repeat;
  }
}

